<div class="introduction-container">
  <h1>Hi, my name is Jaydip. I am <span class="tag-container" [@typewriter]="currentTag">{{ currentTag }}</span></h1>
  <p>As a dedicated backend developer with 3 years of experience, I'm passionate about crafting robust and efficient software solutions. My journey has led me to delve into various tech stacks, including Java and Angular. Currently, I'm excited to be part of a fintech startup, where I contribute to innovative projects. With a solid understanding of the software development lifecycle, I'm always eager to explore new technologies and push the boundaries of what's possible.</p>
</div>
